nav {
	background-color: var(--cl-3);
}

nav > .wrapper {
	max-width: 85%;
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

/* .flex-reverse {
	flex-direction: row-reverse;
}

.flex-row {
	flex-direction: row;
} */

.nav__logo {
	width: 6rem;
}

/* DESKTOP VIEW */
.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.nav__link {
	text-decoration: none;
	color: var(--cl-4);
	font-family: var(--ff-link);
	font-size: 1.2rem;
}
