nav {
	background-color: var(--cl-3);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	z-index: 5;
}

nav > .wrapper {
	display: flex;
	margin: auto;
	justify-content: space-between;
	align-items: center;
}

.nav__logo {
	width: 6rem;
}

/* DESKTOP VIEW */
.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.nav__link {
	text-decoration: none;
	color: var(--cl-4);
	font-family: var(--ff-link);
	font-size: 1.2rem;
}
