/* MOBILE - TABLET */

@media screen and (max-width: 1024px) {
	.hero_section {
		flex-direction: column-reverse;
	}

	.hero_section__brand {
		display: none;
		padding-block: 2rem 1rem;
	}

	.hero_section__title {
		text-align: center;
	}
}
