header {
	display: flex;
	align-items: center;
}

.bg_hero {
	position: relative;
	background: url(../../public/HeroBg.jpg) no-repeat center;
	background-size: cover;
	background-position: 25% 75%;
	min-height: 100vh;
}

.bg_hero::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.636), rgba(0, 0, 0, 0.835));
	z-index: 2;
}

.hero_section {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 30rem;
	z-index: 3;
	--anim-hero: slideRight 0.8s forwards;
	--anim-hero-delayed: 1s slideRight 0.8s forwards;
	gap: 10rem;
}

.hero_section__brand {
	width: clamp(18rem, 26vw, 27rem);
	opacity: 0;
	animation: var(--anim-hero-delayed);
}

.hero_section__title {
	font-family: var(--ff-intro);
	font-weight: 400;
	word-break: break;
	font-size: clamp(2.4rem, 5vw, 3.2rem);
	max-width: 30rem;
	color: var(--cl-4);
	animation: var(--anim-hero);
}

.hero_section__title span {
	color: var(--cl-prim);
	font-weight: bold;
	opacity: 0;
	animation: var(--anim-hero-delayed);
}
